
.operations {
    position: absolute;
    bottom: .2%;
    width: 100%;
}

.spinner-big {
    width: 1.7rem;
    height: 1.7rem;
}

.cancel, .confirm {
    font-size: 1.9em;
}

.cancel {
    padding-top: 3%;
    padding-bottom: 3%;
}