<div class="container-fluid h-100" style="overflow: hidden;">

    <div class="row mt-3 mb-3">

        <div class="col-md-6 col-sm-12">
            <app-origin-location (origin)="refreshReceptionTable($event)"></app-origin-location>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-secondary btn-lg btn-block" (click)="navigateToRegister()">Registrar recepción</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12 tabla">
            <app-data-table [headers]="headers" [data]="data" [placeholder]="'¡No se ha registrado ninguna recepción hoy!'"></app-data-table>
        </div>
        <div class="col-12">
            <p class="h2 lot-text">{{lot}}</p>
        </div>
    </div>
</div>