<div class="container-fluid h-100" style="overflow: hidden;">

    <div class="row mt-3 mb-3">

        <div class="col-md-6 col-sm-12">
            <app-origin-location #origin></app-origin-location>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-secondary btn-lg btn-block" (click)="navigateToRegister()">Registrar recepción</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12 table-wrapper-scroll-y table-responsive">
            <app-data-table [headers]="headers" [data]="data"></app-data-table>
        </div>
    </div>
</div>