.table-responsive {
    max-height: 750px;
}

button {
    font-size: 1.9em;
    padding-top: 3%;
    padding-bottom: 3%;
}

.tabla {
    height: 745px;
}

.lot-text {
    text-align: left;
    margin-top: .2%;
    margin-left: .3%;
}