
.register {
    font-size: 1.9em;
    padding-top: 3%;
    padding-bottom: 3%;
}

.lot-text {
    text-align: left;
    margin-top: .2%;
    margin-left: .3%;
}

:host ::ng-deep .datatable-body {
    max-height: 68vh !important;
}