// ***** NGX-TOASTR ***** //
@import '~ngx-toastr/toastr.css';
.toast-container {
    width: 35%;
}

.toast-container .ngx-toastr {
    width: 100%;
}

.toast-title {
    font-size: 1.8em;
}

.toast-message {
    font-size: 1.2em;
}

// *********************** //
// ******* GENERAL ******* //
html,
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

//****** NGX-DATATABLE ******//
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
    font-size: 1.8em;
    font-weight: 500;
}

.ngx-datatable.scroll-vertical .datatable-body {
    overflow-x: hidden;
    font-size: 1.8em;
}

.ngx-datatable.bootstrap .datatable-footer {
    background-color: white;
    border-color: white;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, .125);
    font-size: 1.8em;
    font-weight: 500;
}

.ngx-datatable.bootstrap {
    overflow: visible;
}

.fixed-header .visible {
    border: 1px solid rgba(0, 0, 0, .125);
} 

.empty-row {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 500;
    height: 100%;
    color: rgba(0, 0, 0, 0.733);
}

// ************************* //