/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

// regular style toast 
@import '~ngx-toastr/toastr.css';
.toast-container {
    width: 40%;
}

.toast-container .ngx-toastr {
    width: 100%;
}

.toast-title {
    font-size: 1.8em;
}

.toast-message {
    font-size: 1.2em;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}