<div class="table-responsive h-100 tabla">
    <table class="table table-fixed table-striped table-hover h-100" style="margin: 0;">
        <thead>
            <tr>
                <div class="row">
                    <th *ngFor="let key of objectKeys(header_columns)" class="col" scope="col" sortable="id" (sort)="onSort($event)">
                        {{header_columns[key]}}
                    </th>
                    <th *ngIf="actions" class="col text-center">Acción</th>
                </div>
                <!-- <th scope="col" sortable="id" (sort)="onSort($event)">{{header_columns}}</th>
                <th scope="col" sortable="name" (sort)="onSort($event)">Country</th>
                <th scope="col" sortable="area" (sort)="onSort($event)">Area</th>
                <th scope="col" sortable="population" (sort)="onSort($event)">Population</th>  -->

            </tr>
        </thead>
        <tbody>

            <p *ngIf="datas.length <= 0" class="h2 text-muted placeholder">{{placeholder}}</p>

            <tr *ngFor="let country of countries; let i = index">

                <div class="row">
                    <td *ngFor="let key of objectKeys(header_columns)" class="col">{{country[key]}}</td>
                    <td *ngIf="actions" class="col">
                        <button type="button" class="btn btn-danger btn-block" (click)="removeItem(i)">Eliminar</button>
                    </td>
                </div>

            </tr>
        </tbody>
        <tfoot>
            <tr>
                <div class="row">
                    <th class="col"></th>
                    <th class="col"></th>
                    <th class="col" style="text-align: end; padding-right: 5px;">Total: </th>
                    <th class="col">999</th>
                    <th class="col"></th>
                </div>
            </tr>
        </tfoot>
    </table>
</div>
<!-- <div class="w-100 footer">
    <div class="row">

        <div *ngFor="let key of objectKeys(header_columns)" class="col">
            <p class="h3 lot-text h-100">Holla</p>
        </div>
    </div>
</div> -->